@import "./utils/variables";
@import "./utils/visually-hidden";
@import "./utils/mixins";

// base
@import "./base/container";
@import "./base/common";

// components

@import "./components/social";
@import "./components/backdrop";
@import "./components/modal-btn";
@import "./components/close-btn";
@import "./components/modal";
@import "./components/btn";
@import "./components/uppertitle";
@import "./components/block";

// layout

@import "./layout/header";
@import "./layout/index/hero";
@import "./layout/index/features";
@import "./layout/index/about";
@import "./layout/index/team";
// @import "./layout/index/clients";
// @import "./layout/portfolio/filters";
// @import "./layout/portfolio/portfolio";
// @import "./layout/footer";
@import "./layout/logo";
@import "./layout/nav";
// @import "./layout/contacts";
