.contacts-list {
  @media screen and (min-width: 768px) {
    @include fontOptions(500, 12px, 14px);
  }

  @media screen and (min-width: 1200px) {
    @include centeredFlex();
    @include fontOptions(500, 14px, 16px);
    margin-left: auto;
  }
}

.contacts-list__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.contacts-list__link {
  @include centeredFlex();
  color: var(--secondary-font-color);

  @media screen and (max-width: 767px) {
    justify-content: center;
    padding: 3px 0;
  }

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts-list__icon {
  fill: currentColor;
  margin-right: 10px;
}
