.team {
  background-color: var(--secondary-bg-color);
}

.team-title {
  @include fontOptions(700, 36px, 60px);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  /* На перспективу при добавлении контента */
  /* flex-wrap: wrap; */
}

.team__list-item {
  background-color: var(--bg-color);
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
/* Альтернатива :not(:last-child) при добавлении контента
 (в данном случает по 4 в строке) */

/* .team__list-item:not(:nth-child(4n)) {
  margin-right: 30px;
} */

.team__list-name {
  @include fontOptions(500, 16px, 19px);
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

.team__list-position {
  @include fontOptions(400, 16px, 19px);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
  margin-top: 10px;
  padding: 0 10px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  margin-right: 32px;
  margin-left: 32px;
  margin-top: 16px;
}
