.team {
  background-color: var(--secondary-bg-color);
}

.team-title {
  @include fontOptions(700, 28px, 33px);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    @include fontOptions(700, 36px, 60px);

    margin-bottom: 50px;
  }
}

.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  /* На перспективу при добавлении контента */
  /* flex-wrap: wrap; */
}

.team__list-item {
  background-color: var(--bg-color);
  padding-bottom: 24px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 4 * 30px) / 4);
    padding-bottom: 30px;
  }
}

/* Альтернатива :not(:last-child) при добавлении контента
 (в данном случает по 4 в строке) */

/* .team__list-item:not(:nth-child(4n)) {
  margin-right: 30px;
} */

.team__list-name {
  @include fontOptions(500, 16px, 19px);
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

.team__list-position {
  @include fontOptions(400, 16px, 19px);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
  margin-top: 10px;
}

.social-list {
  display: flex;
  justify-content: center;
  margin-right: 32px;
  margin-left: 32px;
  margin-top: 16px;

  //   display: flex;
  //   justify-content: space-between;
  //   margin-right: 32px;
  //   margin-left: 32px;
  //   margin-top: 16px;
}

.social-list__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.mobile-team {
  @media screen and (max-width: 767px) {
    display: block;
    max-width: 450px;
    width: 100%;
  }
}

.mobile-team-set__img {
  display: block;
  max-width: 100%;
  height: auto;
}
