.btn {
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  @include fontOptions(700, 16px, 30px);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--bg-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: transparent;

  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
