.close-btn {
  @include centeredFlex();
  justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 101px;
  right: 23px;
  background-color: var(--bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 558px) {
    top: 8px;
    right: 8px;
  }
}
