.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    fill: var(--accent-color);
  }

  .menu-button .icon-cross {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    fill: var(--primary-font-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    background-color: var(--bg-color);
    top: 100%;
    left: 0;
    width: 100%;
    @include fontOptions(500, 18px, 21px);
    letter-spacing: 0.02em;
  }

  @media screen and (min-width: 768px) {
    @include fontOptions(500, 14px, 16px);
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  &.is-open {
    display: block;
  }
}
